
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <label>Nhập số a:</label>
    <input type="text" name="soX" />
    <label>Nhập số b:</label>
    <input type="text" name="soY" />
    <input type="submit" value="Kết quả:" />
}
<label>Nghiệm của PT là: @ViewBag.Giaipt</label>
